<div class="content">
    <div class="top-header">
      <div class="row">
        <div class="col-md-6 col-lg-6 heading">
          <h4>Edit Pay Grade</h4>
        </div>
        <div class="col-md-6 col-lg-6 breadcrumb">
          <ul class="breadcrumb-items"> 
            <li><a routerLink='/dashboard'>Home</a></li>
            <li>/</li>
            <li><a routerLink="/pay-grades" >Pay Grades</a></li>
            <li>/</li>
            <li>Edit Pay Grade</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="element-content">
      <div class="job-box">
        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <form class="search-form" #addPayFrm = "ngForm" name="form" (ngSubmit)="addPayFrm.form.valid" novalidate>
              <div class="form-header">
                <h5>EDIT PAY GRADES</h5>
              </div>
              <div class="padding-20">
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label class="col-sm-4 col-form-label">Name <span class="req-field">*</span></label>
                      <div class="col-sm-8">
                          <input type="text" class="form-control mb-10" placeholder="Enter Pay-Grade" value="{{ payInfo.name }}" name="payName" [(ngModel)]="payInfo.name" #payName="ngModel" [ngClass]="{ 'is-invalid': addPayFrm.submitted && payName.invalid }" required pattern="^[a-zA-Z0-9-]+$" id="payName" >
                          <div *ngIf="payName.touched && payName.invalid" class="invalid-feedback">
                            <div *ngIf="payName.touched && payName.errors.required">Pay-Grade is required</div>
                          </div>
                          <div *ngIf="payName.errors?.pattern" class="invalid-feedback">
                            Valid data is required
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                      
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary mlr-5" [disabled]="!addPayFrm.valid" (click)="editPay()" id="submit">Submit</button>
                        <button (click)="cancel()" class="btn btn-danger mlr-5" id="cancel">Cancel</button>
                    </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  
    <ng-container *ngIf="this.display==true; then b2 else b1"></ng-container> 
  <!-- view details -->
  <ng-template #b1>
      <div class="element-content">
          <div class="job-box">
            <div class="row">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="form-header row mlr-0">
                    <div class="form-header row mlr-0">
                        <div class="col-md-6">
                          <h5>Add Salary</h5>
                        </div>
                        <div class="col-md-6">
                          <button (click)="cancel()" id="back" class="btn btn-info mlr-5 mtb-5" style="float: right;">Back</button>
                          <button  (click)="add()" id="add" class="btn btn-danger mlr-5 mtb-5" style="float: right;">Edit</button>
                        </div>
                    </div>
                </div> 
                <div class="padding-20">
                  <div class="table-responsive margin-20">
                    <table class="table table-bordered">
                      <thead class="form-header">
                        <tr>
                          <th>Currency</th>  
                          <th>Minimum Salary</th> 
                          <th>Maximum Salary</th>               
                        </tr>
                      </thead>
                      <tbody>
                        <tr style="margin-bottom: 10px;">
                          <td>{{ salaryDetails.currency.name }}</td>
                          <td>{{ salaryDetails.minSalary }}</td>
                          <td>{{ salaryDetails.maxSalary }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
    
  </ng-template>
   <!-- edit details -->
   <ng-template #b2>
      <div class="element-content">
          <div class="job-box">
            <div class="row">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <form class="search-form" #addPayFrm = "ngForm" name="form" (ngSubmit)="addPayFrm.form.valid" novalidate>
                  <div class="form-header">
                    <h5>Add Salary</h5>
                  </div>
                  <div class="padding-20">
                      <div class="form-group row">
                        <div class="col-md-6">
                          <label class="col-sm-4 col-form-label">Minimum Salary <span class="req-field">*</span></label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control mb-10" placeholder="Enter Minimum Salary" name="minSalary" [(ngModel)]="salaryDetails.minSalary" #minSalary="ngModel" max="{{ salaryDetails.maxSalary }}"  id="minSalary" required>
                            <div *ngIf="minSalary.touched && minSalary.invalid" class="invalid-feedback">
                              <div *ngIf="minSalary.touched && minSalary.errors.required">Minimum Salary is required</div>
                            </div>
                            <div *ngIf="minSalary.errors?.max"  class="invalid-feedback">Minimum Salary should be less than Maximum Salary</div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label class="col-sm-4 col-form-label">Maximum Salary <span class="req-field">*</span></label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control mb-10" placeholder="Enter Maximum Salary" name="maxSalary" [(ngModel)]="salaryDetails.maxSalary" #maxSalary="ngModel" min="{{ salaryDetails.minSalary }}" id="maxSalary" required>
                            <div *ngIf="maxSalary.touched && maxSalary.invalid" class="invalid-feedback">
                              <div *ngIf="maxSalary.touched && maxSalary.errors.required">Maximum Salary is required</div>
                            </div>
                            <div *ngIf="maxSalary.errors?.min"  class="invalid-feedback">Maximum Salary should be more than Minimum Salary</div>                      
                          </div>                    
                        </div>
                        <!-- added currency filed - sharmistha - 08-02-2019 - start -->
                        <div class="col-md-6">
                          <label class="col-sm-4 col-form-label">Currency <span class="req-field">*</span></label>
                          <div class="col-sm-8">
                            <select class="form-control mb-10" name="currency" id="currency"
                              [(ngModel)]="salaryDetails.currency.id" #currency="ngModel" required>
                              <option value="undefined" selected>Select Currency</option>
                              <option *ngFor="let cur of currencyMastList" value="{{cur.id}}">
                                {{cur.currency}} - {{cur.country}}</option>
                            </select>
                            <div *ngIf="currency.touched && currency.errors" class="invalid-feedback">Please select currency</div>
                          </div>
                        </div>
                        <!-- added currency filed - sharmistha - 08-02-2019 - end -->
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary mlr-5" (click)="addSalary()" [disabled]="!addPayFrm.valid" id="submit">Submit</button>
                            <button (click)="cancel()" id="cancelbtn" class="btn btn-danger mlr-5">Cancel</button>
                        </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
   </ng-template>
    
  </div>
  
  
  <div class="popupbox_wrap" *ngIf="isSuccess">
    <div class="popupbox">
      <div class="row"><button class="close" type="button" id="closePopup" (click)="closePopup2()"><span class="close-label"><i class="fa fa-times"
              aria-hidden="true"></i> Close</span><span class="os-icon os-icon-close"></span></button></div>
      <p class="bg-success">{{ pay.data }}</p>
      <div class="row text-center">
        <a class="btn btn-success mlr-5" routerLink="/pay-grades"><i class="fa fa-users" id=" viewpaygrades"aria-hidden="true"></i> View all Grades</a>
      </div>
      <!--row-->
    </div>
    <!--popupbox-->
  </div>
  <!--popupbox_wrap-->
    
    
  <div class="popupbox_wrap" *ngIf="isFailure">
    <div class="popupbox">
      <div class="row"><button class="close" type="button" id="closepop" (click)="closePopup()"><span class="close-label"><i class="fa fa-times"
              aria-hidden="true"></i> Close</span><span class="os-icon os-icon-close"></span></button></div>
      <p class="bg-success">{{ pay.errorMessages }}</p>
      <!--row-->
    </div>
    <!--popupbox-->
  </div>
  <!--popupbox_wrap-->  
  
  
  <div class="popupbox_wrap" *ngIf="isSuccess1">
    <div class="popupbox">
      <div class="row"><button class="close" type="button" id="closemsg" (click)="closemsg()"><span class="close-label"><i class="fa fa-times" aria-hidden="true"></i> Close</span><span class="os-icon os-icon-close"></span></button></div>
      <p class="bg-success">{{ pay.data }}</p>
      <div class="row text-center">
        <a class="btn btn-success mlr-5" routerLink="/pay-grades"><i class="fa fa-users" aria-hidden="true" id="clickpaygrades"></i> View all Grades</a>
      </div>
      <!--row-->
    </div>
    <!--popupbox-->
  </div>
  <!--popupbox_wrap-->
    
    
  <div class="popupbox_wrap" *ngIf="isFailure1">
    <div class="popupbox">
      <div class="row"><button class="close" type="button" id="closemsg1" (click)="closemsg1()"><span class="close-label"><i class="fa fa-times"
              aria-hidden="true"></i> Close</span><span class="os-icon os-icon-close"></span></button></div>
      <p class="bg-success">{{ pay.errorMessages }}</p>
      <!--row-->
    </div>
    <!--popupbox-->
  </div>
  <!--popupbox_wrap-->  
  
