.popupbox_wrap{
    box-shadow: 0 0 25px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    z-index: 9999;
  }
.offerletter.popupbox_wrap{
    overflow-x: hidden !important;
    overflow-y: auto !important;
    padding: 40px 60px;
}
.popupbox1{
    top: auto !important;
    position: unset !important;
    width: 100% !important;
    background-color: white;
    padding: 20px;
}
.popup-logo{
    width:70%; 
    margin: 0 auto 30px;
}
.popupbox1 table tbody tr td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border: none
}

.offerContent>.table>tbody>tr>td{
    border: none!important;
}
.cdk-overlay-container {
  position: fixed;
  z-index: 9999 !important;
}
.popupbox {
    font-size: 13px;
}