<div class="content">
  <div class="top-header">
    <div class="row">
      <div class="col-md-6 col-lg-6 heading">
        <h4>Add Key Performance Indicators</h4>
      </div>
      <div class="col-md-6 col-lg-6 breadcrumb">
        <ul class="breadcrumb-items"> 
          <li><a routerLink="/dashboard">Home</a></li>
          <li>&nbsp;/&nbsp;</li>
          <li><a routerLink="/kpis">KPIS</a></li>
          <li>&nbsp;/&nbsp;</li>
          <li>Add Key Performance Indicators</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="element-content">
    <div class="job-box">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <form class="search-form" #addJobFrm = "ngForm" name="form" (ngSubmit)="addJobFrm.form.valid" novalidate>
            <div class="form-header">
              <h5>Add Key Performance Indicators</h5>
            </div>
            <div class="padding-20">
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-sm-4 col-form-label">Department <span class="req-field">*</span></label>
                  <div class="col-sm-8">
                    <ng-multiselect-dropdown
                      name="department" 
                      class="mb-10"
                      (onSelect)="onItemSelect($event)" 
                      (onDeSelect)="OnItemDeSelect($event)"
                      (onSelectAll)="onSelectAll($event)"
                      (onDeSelectAll)="onDeSelectAll($event)" 
                      [placeholder]="'Select Department(s)'"
                      [data]="departments"
                      [settings]="dropdownSettings"
                      #department="ngModel" 
                      [(ngModel)]="kpiData.department" 
                      [ngClass]="{ 'is-invalid': addJobFrm.submitted && department.invalid }" 
                      required
                      id="departments">
                    </ng-multiselect-dropdown>

                    <div *ngIf="department.touched && department.invalid" class="invalid-feedback">
                      <div *ngIf="department.touched && department.errors.required">Department is required</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="col-sm-4 col-form-label">Job Title <span class="req-field">*</span></label>
                  <div class="col-sm-8">
                    <ng-multiselect-dropdown
                      name="jobTitle" 
                      class="mb-10"
                      [placeholder]="'Select Job Title(s)'"
                      [data]="selectedJobTitles"
                      [settings]="jobTitlesDropdownSettings"
                      #jobTitle="ngModel" 
                      [(ngModel)]="kpiData.jobTitle" 
                      [ngClass]="{ 'is-invalid': addJobFrm.submitted && jobTitle.invalid }" 
                      required 
                      id="jobtitles">
                    </ng-multiselect-dropdown>
                    <div *ngIf="jobTitle.touched && jobTitle.invalid" class="invalid-feedback">
                      <div *ngIf="jobTitle.touched && jobTitle.errors.required">Job Title is required</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row mt-10">
                <div class="col-md-6">
                  <label class="col-sm-4 col-form-label">Minimum Rating <span class="req-field">*</span></label>
                  <div class="col-sm-8">
                    <input type="text" id="minRating" class="form-control mb-10" name="minRating" [(ngModel)]="kpiData.minRating" #minRating="ngModel" [ngClass]="{ 'is-invalid': addJobFrm.submitted && minRating.invalid }" required value="1" (change)="checkrating()" pattern="^[1-9]\d*$">
                    <div *ngIf="minRating.touched && minRating.invalid" class="invalid-feedback">
                      <div *ngIf="minRating.touched && minRating.errors.required">Rating is required</div>
                    </div>
                    <div *ngIf="minRating.errors?.pattern" class="invalid-feedback">
                      Enter a valid number
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="col-sm-4 col-form-label">Maximum Rating <span class="req-field">*</span></label>
                  <div class="col-sm-8">
                    <input type="text" id="maxRating" class="form-control mb-10" name="maxRating" [(ngModel)]="kpiData.maxRating" #maxRating="ngModel" [ngClass]="{ 'is-invalid': addJobFrm.submitted && maxRating.invalid }" required (change)="checkrating()" pattern="^[1-9]\d*$">
                    <p *ngIf="rateerror" style="color: red;font-weight:bold;">{{ rateerror }}</p>
                    <div *ngIf="maxRating.touched && maxRating.invalid" class="invalid-feedback">
                      <div *ngIf="maxRating.touched && maxRating.errors.required">Rating is required</div>
                    </div>
                    <div *ngIf="maxRating.errors?.pattern" class="invalid-feedback">
                      Enter a valid number
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-sm-4 col-form-label">Key Performance Indicator <span class="req-field">*</span></label>
                      <!-- adding pattern suresh 09-03-2019 start -->
                  <div class="col-sm-8">
                    <input type="text" id="indicator" class="form-control mb-10" name="indicator" [(ngModel)]="kpiData.indicator" #indicator="ngModel" [ngClass]="{ 'is-invalid': addJobFrm.submitted && indicator.invalid }"
                     required [pattern]="kpiPattern">
                    <div *ngIf="indicator.touched && indicator.invalid" class="invalid-feedback">
                      <div *ngIf="indicator.touched && indicator.errors.required">Indicator is required</div>
                    </div>
                    <div *ngIf="indicator.errors?.pattern" class="invalid-feedback">
                      Enter a valid indicator
                    </div>
                      <!-- adding pattern suresh 09-03-2019 end -->                      
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="col-sm-4 col-form-label">Make Default Scale</label>
                  <div class="col-sm-8">
                    <input type="checkbox" id="defaultAcale" class="form-control mb-10" name="defaultScale" [(ngModel)]="kpiData.defaultScale" #defaultScale="ngModel" style="width: 15%; height: 15px; box-shadow: none;">
                  </div>
                </div>
              </div>
              <p *ngIf="error" style="color: #e90000;">{{ error }}</p>
              <div class="form-group row">
                <div class="col-sm-10">
                  <button class="btn btn-primary mlr-5" id="addKpi" [disabled]="!addJobFrm.valid" (click)="addKpi(addJobFrm)">Submit</button>
                  <button type="reset" id="resetForm" class="btn btn-info mlr-5" (click)="reset()">Reset</button>
                  <button class="btn btn-danger mlr-5" id="cancel" (click)="cancel()">Cancel</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



  

<div class="popupbox_wrap" *ngIf="isSuccess">
  <div class="popupbox">
    <div class="row"><button class="close" id="close" type="button" (click)="close()"><span class="close-label"><i class="fa fa-times"
            aria-hidden="true"></i> Close</span><span class="os-icon os-icon-close"></span></button></div>
    <p class="bg-success">{{ data.data }}</p>
    <div class="row text-center">
      <a class="btn btn-success mlr-5" id="viewAllKpis" routerLink="/kpis"><i class="fa fa-users" aria-hidden="true"></i> View all KPIs</a>
    
    </div>
    <!--row-->
  </div>
  <!--popupbox-->
</div>
<!--popupbox_wrap-->


<div class="popupbox_wrap" *ngIf="isFailure">
  <div class="popupbox">
    <div class="row"><button class="close" type="button" id="closeError" (click)="closePopup()"><span class="close-label"><i class="fa fa-times"
            aria-hidden="true"></i> Close</span><span class="os-icon os-icon-close"></span></button></div>
    <p class="bg-danger">{{ data.errorMessages }}</p>
    <div class="row text-center">
        <a class="btn btn-success" id="closeErrorPopup" routerLink="/kpis"><i class="fa fa-users" aria-hidden="true"></i> View all KPIs</a>
    </div>
    <!--row-->
  </div>
  <!--popupbox-->
</div>
<!--popupbox_wrap-->  