<style>
  input[type="file"] {
    display: block;
    right: 0;
    cursor: pointer;
    bottom: -1px;
    font-size: 12px;
    opacity: 1;
    position: relative;
    width: 100%;
    z-index: 0;
  }

</style>
<div class="content">
  <div class="top-header">
    <div class="row">
      <div class="col-md-6 col-lg-6 heading">
        <h4>User Salary Details</h4>
      </div>
      <div class="col-md-6 col-lg-6 breadcrumb">
        <ul class="breadcrumb-items">
          <li><a routerLink='/dashboard'>Home</a></li>
          <li>&nbsp;/&nbsp;</li>
          <li><a routerLink='/usersView'>Users</a></li>
          <li>&nbsp;/&nbsp;</li>
          <li>User Salary Details</li>
        </ul>
      </div>
    </div>
  </div>

  <ng-container *ngIf="this.displayContact==true; then a2 else a1"></ng-container>
  <!-- view details -->
  <ng-template #a1>
    <div class="element-content">
      <div class="job-box">
        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="form-header row mlr-0">
              <div class="col-md-6">
                <h5>SALARY DETAILS</h5>
              </div>
              <div class="col-md-6">
                <button *ngIf="this.salaryInfo!=null" id="editContact" (click)="editContact()" class="btn btn-danger mlr-5 mtb-5"
                  style="float: right;">Edit</button>
                <button *ngIf="this.salaryInfo==null" id="addContact" (click)="editContact()" class="btn btn-danger mlr-5 mtb-5"
                  style="float: right;">Add</button>
                <!-- changed router link for back button - sharmistha - start - 08-14-2019 -->
                <button routerLink='/usersView' id="back" class="btn btn-info mlr-5 mtb-5" style="float: right;">Back</button>
                <!-- changed router link for back button - sharmistha - end - 08-14-2019 -->
              </div>
            </div>
            <div class="padding-20" *ngIf="this.userSalaryInfo!=null">
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-sm-4 col-form-label mb-10">Pay Grade:</label>
                  <div class="col-sm-8">
                    <p>{{ salaryInfo.payGrade.name }}</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="col-sm-4 col-form-label mb-10">Total Salary:</label>
                  <div class="col-sm-8">
                    <p>$ {{ salaryInfo.amount }}</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="col-sm-4 col-form-label mb-10">Pay Frequecy:</label>
                  <div class="col-sm-8">
                    <p>{{ salaryInfo.payFrequency.name }}</p>
                  </div>
                </div>
                <!--Direct deposit-->
                <div class="col-md-12">
                  <h4 class="col-sm-4 col-form-label user-title">Direct Deposit #1:</h4>
                </div>
                <div class="col-md-6">
                  <label class="col-sm-4 col-form-label mb-10">Routing Number:</label>
                  <div class="col-sm-8">
                    <p>{{ salaryInfo.deposit1.routingNumber }}</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="col-sm-4 col-form-label mb-10">Account Number:</label>
                  <div class="col-sm-8">
                    <p>{{ salaryInfo.deposit1.accountNumber }}</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="col-sm-4 col-form-label mb-10">Account Type:</label>
                  <div class="col-sm-8">
                    <p>{{ salaryInfo.deposit1.accountType.name }}</p>
                  </div>
                </div>
                <div class="col-md-6" *ngIf="additionalDeposit">
                  <label class="col-sm-4 col-form-label mb-10">Split Amount:</label>
                  <div class="col-sm-8">
                    <p>$ {{ salaryInfo.deposit1.directAmount }}</p>
                  </div>
                </div>

                <div *ngIf="additionalDeposit">
                  <!-- Additional account -->
                  <div class="col-md-12">
                    <h4 class="col-sm-4 col-form-label user-title">Direct Deposit #2:</h4>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label mb-10">Routing Number:</label>
                    <div class="col-sm-8">
                      <p>{{ salaryInfo.deposit2.routingNumber }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label mb-10">Account Number:</label>
                    <div class="col-sm-8">
                      <p>{{ salaryInfo.deposit2.accountNumber }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label mb-10">Account Type:</label>
                    <div class="col-sm-8">
                      <p>{{ salaryInfo.deposit2.accountType.name }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label mb-10">Split Amount:</label>
                    <div class="col-sm-8">
                      <p>$ {{ salaryInfo.deposit2.directAmount }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <!-- edit details -->
  <ng-template #a2>
    <div class="element-content">
      <div class="job-box">
        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <!-- edit job details-->
            <form class="search-form" #addJobFrm="ngForm" name="form" (ngSubmit)="addJobFrm.form.valid" novalidate>
              <div class="form-header">
                <h5>SALARY DETAILS</h5>
              </div>
              <div class="padding-20">
                <div class="form-group row">
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label">Pay Grades <span class="req-field">*</span></label>
                    <div class="col-sm-8">
                      <select class="form-control mb-10" id="payGrade" name="payGrade" #payGrade [(ngModel)]="salaryInfo.payGrade.id" #payGrade="ngModel" (change)="change(payGrade.value)" required>
                        <option [ngValue]="undefined" disabled selected>Choose an option</option>
                        <option *ngFor="let paygrade of payGrades" value="{{ paygrade.id }}">{{ paygrade.name }}<span *ngIf="paygrade.min_salary && paygrade.max_salary"> - (${{ paygrade.min_salary }} - ${{ paygrade.max_salary }})</span></option>
                      </select>

                      <div *ngIf="payGrade.touched && payGrade.invalid" class="invalid-feedback">
                        <div *ngIf="payGrade.touched && payGrade.errors.required">Pay grade is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label">Amount <span class="req-field">*</span></label>
                    <div class="col-sm-8">
                      <div class="input-group"> <span class="input-group-addon">$</span>
                        <input type="number" id="amount" class="form-control mb-10" placeholder="Enter Amount" #amount="ngModel" name="amount" [(ngModel)]="salaryInfo.amount" min="{{ salaryComponentMin.minSalary }}" max="{{ salaryComponentMin.maxSalary }}" #numberOne="ngModel" required [class.errorBorder]="amount.touched && (salaryInfo.amount < salaryComponentMin.minSalary || salaryInfo.amount > salaryComponentMin.maxSalary)"
                        pattern="^[1-9]\d*(\.\d+)?$" (change)="checkAmount()">
                      </div>
                      
                      <div style="color: #848484;" *ngIf="showAmount && salaryComponentMin.minSalary && salaryComponentMin.maxSalary">Amount should be in between $ {{ salaryComponentMin.minSalary }} and $ {{ salaryComponentMin.maxSalary }}</div>

                      <div style="color: #848484;" *ngIf="showAmount && !salaryComponentMin.minSalary && !salaryComponentMin.maxSalary">Salary not yet assigned</div>

                      <div *ngIf="amount.errors?.pattern" class="invalid-feedback">
                        Please enter valid amount
                      </div>

                      <div *ngIf="amount.touched && amount.invalid" class="invalid-feedback">
                        <div *ngIf="amount.touched && amount.errors.required">Amount is required</div>
                      </div>

                      <div *ngIf="(amount.touched && amount.invalid) || (salaryInfo.amount < salaryComponentMin.minSalary) || (salaryInfo.amount > salaryComponentMin.maxSalary)"
                        class="invalid-feedback"></div>
                      <!-- <div *ngIf="amount.touched && (salaryInfo.amount < salaryComponentMin.minSalary || salaryInfo.amount > salaryComponentMin.maxSalary)"
                        class="invalid-feedback">Amount should be in between {{ salaryComponentMin.minSalary }} and {{ salaryComponentMin.maxSalary }}</div> -->

                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label">Pay Frequency <span class="req-field">*</span></label>
                    <div class="col-sm-8">
                      <select class="form-control mb-10" id="PayFrequency" name="payFrequency" [(ngModel)]="salaryInfo.payFrequency.id"
                        #payFrequency="ngModel" required>
                        <option [ngValue]="undefined" disabled selected>Choose an option</option>
                        <option *ngFor="let frequency of payFrequencies" value="{{ frequency.id }}">
                          {{ frequency.pay_frequency }}</option>
                      </select>
                      <div *ngIf="payFrequency.touched && payFrequency.invalid" class="invalid-feedback">
                        <div *ngIf="payFrequency.touched && payFrequency.errors.required">Pay frequency is required</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-12">
                    <h4 class="col-sm-4 col-form-label user-title">Direct Deposit #1:</h4>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label">Bank Routing Number <span class="req-field">*</span></label>
                    <div class="col-sm-8">
                      <input type="text" id="routingNumber" class="form-control mb-10" (blur)="getData(routingNumber.value)" placeholder="Enter Routing Number" name="routingNumber" [(ngModel)]="salaryInfo.deposit1.routingNumber" #routingNumber="ngModel" required pattern="^\d+$">
                      <div *ngIf="routingNumber.touched && routingNumber.invalid" class="invalid-feedback">
                        <div *ngIf="routingNumber.touched && routingNumber.errors.required">Routing number is required
                        </div>
                      </div>
                      <div *ngIf="routingNumber.errors?.pattern" class="invalid-feedback">
                        Please enter valid Routing Number
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label">Account Type <span class="req-field">*</span></label>
                    <div class="col-sm-8">
                      <select class="form-control mb-10" id="accountType" name="accountType" [(ngModel)]="salaryInfo.deposit1.accountType.id" #accountType="ngModel" required>
                        <option [ngValue]="undefined" disabled selected>Choose an option</option>
                        <option *ngFor="let type of accountTypes" value="{{ type.id }}">{{ type.account_type }}</option>
                      </select>

                      <div *ngIf="accountType.touched && accountType.invalid" class="invalid-feedback">
                        <div *ngIf="accountType.touched && accountType.errors.required">Account type is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label">Account Number <span class="req-field">*</span></label>
                    <div class="col-sm-8">
                      <input type="text" id="accountNumber" class="form-control mb-10" placeholder="Enter Account Number" name="accountNumber" [(ngModel)]="salaryInfo.deposit1.accountNumber" #accountNumber="ngModel" required pattern="^\d+$">
                      <div *ngIf="accountNumber.touched && accountNumber.invalid" class="invalid-feedback">
                        <div *ngIf="accountNumber.touched && accountNumber.errors.required">Account number is required
                        </div>
                      </div>
                      <div *ngIf="accountNumber.errors?.pattern" class="invalid-feedback">
                        Please enter valid Account Number
                      </div>

                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label">Confirm Account Number <span class="req-field">*</span></label>
                    <div class="col-sm-8">
                      <input type="text" id="caccountNumber" class="form-control mb-10" placeholder="Enter Account Number" name="caccountNumber" [(ngModel)]="salaryInfo.deposit1.accountNumberRetype" #caccountNumber="ngModel" required pattern="{{accountNumber.value}}">
                      <div *ngIf="caccountNumber.touched && caccountNumber.invalid" class="invalid-feedback">
                        <div *ngIf="caccountNumber.touched && caccountNumber.errors.required">Please retype account number
                        </div>
                      </div>
                      <div *ngIf="caccountNumber.errors?.pattern" class="invalid-feedback">
                        Account numbers didn't match
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="directDeposit2">
                    <label class="col-sm-4 col-form-label">Amount <span class="req-field">*</span></label>
                    <div class="col-sm-8">
                      <div class="input-group"> <span class="input-group-addon">$</span>
                        <input type="number" id="directAmount" class="form-control mb-10" placeholder="Enter Amount" name="directAmount" [(ngModel)]="salaryInfo.deposit1.directAmount" #directAmount="ngModel" required pattern="^[1-9]\d*(\.\d+)?$" (change)="checkAmount()">
                      </div>

                      <div *ngIf="directAmount.touched && directAmount.invalid" class="invalid-feedback">
                        <div *ngIf="directAmount.touched && directAmount.errors.required">Amount is required</div>
                      </div>

                      <div *ngIf="directAmount.errors?.pattern" class="invalid-feedback">
                        Please enter valid amount
                      </div>

                      <div *ngIf="errorMessage" class="invalid-feedback">
                        Amount should less than or equal to total salary
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row" *ngIf="hideButton">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-success mlr-5 mb-10" id="addAdditional" (click)="addAdditional()">+ Add Aditional Deposit Details</button>
                  </div>
                </div>

                <div *ngIf="directDeposit2">
                  <div class="form-group row">
                    <div class="col-md-12">
                      <h4 class="col-sm-4 col-form-label user-title">Direct Deposit #2:</h4>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-6">
                      <label class="col-sm-4 col-form-label">Bank Routing Number <span class="req-field">*</span></label>
                      <div class="col-sm-8">
                        <input type="text" id="routingNumber2" class="form-control mb-10" (blur)="getData(routingNumber.value)" placeholder="Enter Routing Number" name="routingNumber2" [(ngModel)]="salaryInfo.deposit2.routingNumber" #routingNumber2="ngModel" required pattern="^\d+$">
                        <div *ngIf="routingNumber2.touched && routingNumber2.invalid" class="invalid-feedback">
                          <div *ngIf="routingNumber2.touched && routingNumber2.errors.required">Routing number is required
                          </div>
                        </div>
                        <div *ngIf="routingNumber2.errors?.pattern" class="invalid-feedback">
                          Please enter valid Routing Number
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label class="col-sm-4 col-form-label">Account Type <span class="req-field">*</span></label>
                      <div class="col-sm-8">
                        <select class="form-control mb-10" id="accountType2" name="accountType2" [(ngModel)]="salaryInfo.deposit2.accountType.id" #accountType2="ngModel">
                          <option [ngValue]="undefined" disabled selected>Choose an option</option>
                          <option *ngFor="let type of accountTypes" value="{{ type.id }}">{{ type.account_type }}</option>
                        </select>

                        <div *ngIf="accountType2.touched && accountType2.invalid" class="invalid-feedback">
                          <div *ngIf="accountType2.touched && accountType2.errors.required">Account type is required</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label class="col-sm-4 col-form-label">Account Number <span class="req-field">*</span></label>
                      <div class="col-sm-8">
                        <input type="text" id="accountNumber2" class="form-control mb-10" placeholder="Enter Account Number" name="accountNumber2" [(ngModel)]="salaryInfo.deposit2.accountNumber" #accountNumber2="ngModel" required pattern="^\d+$">
                        <div *ngIf="accountNumber2.touched && accountNumber2.invalid" class="invalid-feedback">
                          <div *ngIf="accountNumber2.touched && accountNumber2.errors.required">Account number is required
                          </div>
                        </div>
                        <div *ngIf="accountNumber2.errors?.pattern" class="invalid-feedback">
                          Please enter valid Account Number
                        </div>
  
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label class="col-sm-4 col-form-label">Confirm Account Number <span class="req-field">*</span></label>
                      <div class="col-sm-8">
                        <input type="text" id="caccountNumber2" class="form-control mb-10" placeholder="Enter Account Number" name="caccountNumber2" [(ngModel)]="salaryInfo.deposit2.accountNumberRetype" #caccountNumber2="ngModel" required pattern="{{accountNumber2.value}}">
                        <div *ngIf="caccountNumber2.touched && caccountNumber2.invalid" class="invalid-feedback">
                          <div *ngIf="caccountNumber2.touched && caccountNumber2.errors.required">Please retype account number
                          </div>
                        </div>                        
                        <div *ngIf="caccountNumber2.errors?.pattern" class="invalid-feedback">
                          Account numbers didn't match
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label class="col-sm-4 col-form-label">Amount <span class="req-field">*</span></label>
                      <div class="col-sm-8">
                        <div class="input-group mb-10"> <span class="input-group-addon">$</span>
                          <input type="number" id="directAmount2" class="form-control mb-10" placeholder="Enter Amount" name="directAmount2" [(ngModel)]="salaryInfo.deposit2.directAmount" #directAmount2="ngModel" required pattern="^[1-9]\d*(\.\d+)?$" readonly> 
                        </div>

                        <div *ngIf="directAmount2.touched && directAmount2.invalid" class="invalid-feedback">
                          <div *ngIf="directAmount2.touched && directAmount2.errors.required">Amount is required</div>
                        </div>

                        <div *ngIf="directAmount2.errors?.pattern" class="invalid-feedback">
                          Please enter valid amount
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row" *ngIf="showButton">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-danger mlr-5 mb-10" id="removeAdditional" (click)="removeAdditional()">x Remove Aditional Deposit Details</button>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary mlr-5" id="addSalary" (click)="addSalary()"
                      [disabled]="!addJobFrm.valid">Submit</button>
                    <button (click)="cancel()" id="cancel" class="btn btn-danger mlr-5">Cancel</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </ng-template>
</div>


<div class="popupbox_wrap" *ngIf="isSuccess">
  <div class="popupbox">
    <div class="row">
      <button class="close" type="button" id="labelClose" (click)="close()"><span class="close-label"><i class="fa fa-times" aria-hidden="true"></i> Close</span><span class="os-icon os-icon-close"></span>
      </button>
    </div>
    <p class="bg-success">{{ salary.data }}</p>
    <div class="row text-center">
      <a class="btn btn-success" id="userViewClosePopup" routerLink="/usersView"><i class="fa fa-users" aria-hidden="true"></i> View all
        users</a>
    </div>
    <!--row-->
  </div>
  <!--popupbox-->
</div>
<!--popupbox_wrap-->


<div class="popupbox_wrap" *ngIf="isFailure">
  <div class="popupbox">
    <div class="row">
      <button class="close" type="button" id="closeError" (click)="closePopup()"><span class="close-label">
        <i class="fa fa-times" aria-hidden="true"></i> Close</span><span class="os-icon os-icon-close"></span>
      </button>
    </div>
    <p class="bg-danger">{{ salary.errorMessages }}</p>
    <div class="row text-center">
      <a class="btn btn-danger" id="closeErrorPopup" (click)="closePopup()"><i class="fa fa-times" aria-hidden="true"></i> Close</a>
    </div>
    <!--row-->
  </div>
  <!--popupbox-->
</div>
<!--popupbox_wrap-->
