<div class="content">
  <div class="top-header">
    <div class="row">
      <div class="col-md-6 col-lg-6 heading">
        <h4>Add Client Company Contact</h4>
      </div>
      <div class="col-md-6 col-lg-6 breadcrumb">
        <ul class="breadcrumb-items">
          <li><a routerLink='/dashboard'>Home</a></li>
          <li>/</li>
          <li><a routerLink='/company-contacts'>Client Company Contact</a></li>
          <li>/</li>
          <li>Add Client Contact</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="element-content">
    <div class="job-box">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <form class="search-form" #addComFrm="ngForm" name="form" (ngSubmit)="addComFrm.form.valid" novalidate>
            <div class="form-header">
              <h5>Essentials</h5>
            </div>
            <div class="padding-20">
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-sm-4 col-form-label">Select Client Company<span class="req-field">*</span>
                    &nbsp;:</label>
                  <div class="col-sm-6">
                    <select class="form-control mb-10" id="companyId" name="companyId" [(ngModel)]="cusData.companyId"
                      #companyId="ngModel" (change)="getcontacts(companyId.value)" required>
                      <option value="undefined" disabled selected>Select Company</option>
                      <option *ngFor="let company of getfilterData" value="{{company.companyId}}">{{company.companyName | titlecase}}
                      </option>
                    </select>
                    <div *ngIf="companyId.touched && companyId.invalid" class="invalid-feedback">
                      <div *ngIf="companyId.touched && companyId.errors.required">Select one company</div>
                    </div>
                  </div>
                  <a type="button" id="addcompany" class="btn  text-left" (click)="addcomp()">+ Add </a>
                </div>
                <div class="col-md-6">
                  <label class="col-sm-4 col-form-label">Department:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control mb-10" placeholder="Enter department" name="department" id="department"
                      [(ngModel)]="cusData.department" #department="ngModel" pattern="^([a-zA-Z0-9]+[\s,&-_\-])*[a-zA-Z0-9]+$" >
                      <div *ngIf="department.errors?.pattern" class="invalid-feedback">
                          Department name cannot contain special characters
                      </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-sm-4 col-form-label">First name<span class="req-field">*</span> &nbsp;:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control mb-10" placeholder="Enter first name" [pattern]="namePattern" id="namePattern"
                      name="firstName" [(ngModel)]="cusData.firstName" #firstName="ngModel"
                      [ngClass]="{ 'is-invalid': addComFrm.submitted && firstName.invalid }" required>
                    <div *ngIf="firstName.touched && firstName.invalid" class="invalid-feedback">
                      <div *ngIf="firstName.errors.required">First Name is required</div>
                    </div>
                    <div *ngIf="firstName.errors?.pattern" class="invalid-feedback">
                      Name is not valid. Enter only characters
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="col-sm-4 col-form-label">Designation:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control mb-10" placeholder="Enter Designation" name="designation" id="designation"
                      [(ngModel)]="cusData.designation" #designation="ngModel" pattern="^([a-zA-Z0-9()]+[\s.,&-_\-])*[a-zA-Z0-9()]+$">
					  <div *ngIf="designation.errors?.pattern" class="invalid-feedback">
                          Enter only characters
                      </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-sm-4 col-form-label">Middle name:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control mb-10" placeholder="Enter middle name" [pattern]="namePattern" name="middleName" id="middleName"
                      [(ngModel)]="cusData.middleName" #middleName="ngModel">
                  </div>
                  <div *ngIf="middleName.errors?.pattern" class="invalid-feedback">
                    Enter a valid Middle Name
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="col-sm-4 col-form-label">Primary Email<span class="req-field">*</span> &nbsp;:</label>
                  <div class="col-sm-8">
                    <input type="email" class="form-control mb-10" placeholder="Enter primary email"
                    pattern="\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})" name="emailId" [(ngModel)]="cusData.emailId" #emailId="ngModel" id="emailId"
                      [ngClass]="{ 'is-invalid': addComFrm.submitted && emailId.invalid }" required>
                    <div *ngIf="emailId.touched && emailId.invalid" class="invalid-feedback">
                      <div *ngIf="emailId.errors.required">Primary Email is required</div>
                    </div>
                    <div *ngIf="emailId.errors?.pattern" class="invalid-feedback">
                      Email Address is not valid.
                    </div>
                    <div *ngIf="contEmError" style="color:red;font-weight:bold;"> {{ contEmError }} </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-sm-4 col-form-label">Last name<span class="req-field">*</span> &nbsp;:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control mb-10" placeholder="Enter last name" [pattern]="namePattern" id="lastName"
                      name="lastName" [(ngModel)]="cusData.lastName" #lastName="ngModel"
                      [ngClass]="{ 'is-invalid': addComFrm.submitted && lastName.invalid }" required>
                    <div *ngIf="lastName.touched && lastName.invalid" class="invalid-feedback">
                      <div *ngIf="lastName.errors.required">Last Name is required</div>
                    </div>
                    <div *ngIf="lastName.errors?.pattern" class="invalid-feedback">
                      Name is not valid. Enter only characters
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="col-sm-4 col-form-label">Phone<span class="req-field">*</span> &nbsp;:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control mb-10" placeholder="+XXX-XXXXXXXXXX"
                      pattern="([+]?\d{1,3}[-])?\d{10}" name="phoneNo" [(ngModel)]="cusData.phoneNo" #phoneNo="ngModel" id="phoneNo"
                      [ngClass]="{ 'is-invalid': addComFrm.submitted && phoneNo.invalid }" required>
                    <div *ngIf="phoneNo.touched && phoneNo.invalid" class="invalid-feedback">
                      <div *ngIf="phoneNo.errors.required">Phone Number is required</div>
                    </div>
                    <div *ngIf="phoneNo.errors?.pattern" class="invalid-feedback">
                      Phone number not valid.
                    </div>
                    <div *ngIf="contPhError" style="color:red;font-weight:bold;"> {{ contPhError }} </div>
                  </div>
                </div>
              </div>
            </div>
<!-- added code in ngb-tabset tag - sharmistha - 08-13-2019 -->
            <ngb-tabset type="pills" [destroyOnHide]="false">
              <ngb-tab title="Details">
                <ng-template ngbTabContent>
                  <div class="padding-20">
                    <div class="form-group row">
                      <div class="col-md-6">
                        <label class="col-sm-4 col-form-label">Referred By:</label>
                        <div class="col-sm-8">
                          <select class="form-control mb-10" name="referredBy" [(ngModel)]="cusData.referredBy" id="referredBy"
                            #referredBy="ngModel"> 
                            <option value="undefined" disabled selected>Select Referred By</option>
                            <option *ngFor="let user of contacts" value="{{user.contactId}}">{{user.firstName}}
                              {{user.lastName}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6 mb-20">
                        <div class="form-check">
                          <label class="form-check-label col-sm-4" for="defaultCheck1">
                            Primary Contact
                          </label>
                          <div class="col-sm-8">
                            <input class="form-check-input" id="checkbox" type="checkbox" name="isPrimary"
                              [(ngModel)]="cusData.isPrimary" #isPrimary="ngModel">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label class="col-sm-4 col-form-label">Status:</label>
                        <div class="col-sm-8">
                          <select class="form-control mb-10" name="status" [(ngModel)]="cusData.status"
                            #status="ngModel" id="status">
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6 mb-20">
                        <div class="form-check">
                          <label class="form-check-label col-sm-4" for="defaultCheck1">
                            Is Approver
                          </label>
                          <div class="col-sm-8">
                            <input class="form-check-input" type="checkbox" name="isApprover"
                              [(ngModel)]="cusData.isApprover" #isApprover="ngModel" id="isApprover">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Address">
                <ng-template ngbTabContent>
                  <div class="padding-20">
                    <div class="form-group row">
                      <div class="col-md-6">
                        <label class="col-sm-4 col-form-label">Country:</label>
                        <div class="col-sm-8">
                          <select class="form-control mb-10" name="countryId" #countryid
                            [(ngModel)]="cusData.address.countryId" #countryId="ngModel"
                            (change)="change(countryid.value)" id="selectcountryId">
                            <option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label class="col-sm-4 col-form-label">State:</label>
                        <div class="col-sm-8">
                          <select class="form-control mb-10" #stateId (change)="state(stateId.value)" name="stateId" id="selectstateId"
                            [(ngModel)]="cusData.address.stateId" #stateId="ngModel">
                            <option *ngFor="let state of states" value="{{state.id}}">{{state.name}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label class="col-sm-4 col-form-label">Address Line 1:</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control mb-10" placeholder="Enter Address" name="addressLine1" id="addressLine1" [(ngModel)]="cusData.address.addressLine1" #addressLine1="ngModel" [pattern]="addressPattern">
                          <div *ngIf="addressLine1.errors?.pattern" class="invalid-feedback">
                            Enter a valid address
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label class="col-sm-4 col-form-label">Address Line 2:</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control mb-10" placeholder="Enter Address" name="addressLine2" id="addressLine2" [(ngModel)]="cusData.address.addressLine2" #addressLine2="ngModel" [pattern]="addressPattern">
                        <div *ngIf="addressLine2.errors?.pattern" class="invalid-feedback">
                          Enter a valid address
                        </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label class="col-sm-4 col-form-label">City:</label>
                        <div class="col-sm-8">
                          <select class="form-control mb-10" name="cityId" [(ngModel)]="cusData.address.cityId" id="cityId"
                            #cityId="ngModel">
                            <option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label class="col-sm-4 col-form-label">Zip Code:</label>
                        <div class="col-sm-8">
                          <input type="number" class="form-control mb-10" placeholder="Enter Zip Code"
                            [pattern]="numberPattern"
                            [ngClass]="{ 'is-invalid': addComFrm.submitted && zipCode.invalid }" name="zipCode" id="zipCode"
                            (blur)="getAddress()" [(ngModel)]="cusData.address.zipCode" #zipCode="ngModel">
                          <div *ngIf="zipCode.errors?.pattern" class="invalid-feedback">
                            Zip Code is not valid.
                          </div>
                          <p *ngIf="zipError" style="color:red;font-weight:bold;">{{zipError}}</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label class="col-sm-4 col-form-label">Mobile:</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control mb-10" placeholder="+XXX-XXXXXXXXXX"
                            pattern="([+]?\d{1,3}[-])?\d{10}"
                            [ngClass]="{ 'is-invalid': addComFrm.submitted && mobileNo.invalid }" name="mobileNo" id="mobileNo"
                            [(ngModel)]="cusData.address.mobileNo" #mobileNo="ngModel">
                          <div *ngIf="mobileNo.errors?.pattern" class="invalid-feedback">
                            Mobile number is not valid.
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label class="col-sm-4 col-form-label">Alternate Number:</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control mb-10" placeholder="+XXX-XXXXXXXXXX"
                            pattern="([+]?\d{1,3}[-])?\d{10}"
                            [ngClass]="{ 'is-invalid': addComFrm.submitted && alternateNo.invalid }" name="alternateNo" id="alternateNo"
                            [(ngModel)]="cusData.address.alternateNo" #alternateNo="ngModel">
                          <div *ngIf="alternateNo.errors?.pattern" class="invalid-feedback">
                            Mobile number is not valid.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Personal">
                <ng-template ngbTabContent>
                  <div class="padding-20">
                      <!-- adding date pickers by suresh 08-10-2019 start -->
                    <div class="form-group row">
                      <div class="col-md-6">
                        <label class="col-sm-4 col-form-label">Date of Birth:</label>
                        <div class="col-sm-8">
                          <input class="form-control mb-10" placeholder="MM/DD/YYYY" id="doBirth" [owlDateTimeTrigger]="doBirth" [owlDateTime]="doBirth" name="doBirth" [(ngModel)]="cusData.personalInfo.doBirth" #doBirth="ngModel" (dateTimeInput)="dateValidate()">
                          <owl-date-time [pickerType]="'calendar'" #doBirth></owl-date-time>

                          <div *ngIf="dateError" class="invalid-feedback">{{ dateError }}</div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label class="col-sm-4 col-form-label">Anniversary</label>
                        <div class="col-sm-8">
                          <input class="form-control mb-10" (dateTimeInput)="dateValidate1()" placeholder="MM/DD/YYYY" id="anniversary" [owlDateTimeTrigger]="anniversary" [owlDateTime]="anniversary" name="anniversary" [(ngModel)]="cusData.personalInfo.anniversary" #anniversary="ngModel" >
                          <owl-date-time [pickerType]="'calendar'" #anniversary></owl-date-time>

                          <div *ngIf="dateError1" class="invalid-feedback">{{ dateError1 }}</div>
                        </div>
                      </div>
                        <!-- adding date pickers by suresh 08-10-2019 end -->
                      <div class="col-md-12">
                        <label class="col-sm-2 col-form-label">Likes:</label>
                        <div class="col-sm-10">
                          <textarea class="form-control mb-10" placeholder="Enter Likes" name="likes"
                            [(ngModel)]="cusData.personalInfo.likes" #likes="ngModel" id="likes"></textarea>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <label class="col-sm-2 col-form-label">Dislikes:</label>
                        <div class="col-sm-10">
                          <textarea class="form-control mb-10" placeholder="Enter Dislikes" name="dislikes"
                            [(ngModel)]="cusData.personalInfo.dislikes" id="dislikes" #dislikes="ngModel"></textarea>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <label class="col-sm-2 col-form-label">Internal Notes:</label>
                        <div class="col-sm-10">
                          <textarea class="form-control mb-10" placeholder="Enter Notes" name="notes"
                            [(ngModel)]="cusData.personalInfo.notes" id="notes" #notes="ngModel"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Social">
                <ng-template ngbTabContent>
                  <div class="padding-20">
                    <div class="form-group row">
                      <div class="col-md-6">
                        <label class="col-sm-4 col-form-label">Twitter:</label>
                        <div class="col-sm-8">
                          <input type="url" class="form-control mb-10" placeholder="Eg: www.twitter.com/Tedpros" id="twitter" name="twitter" [(ngModel)]="cusData.social.twitter" #twitter="ngModel" [pattern]="twitterPattern">
                          <div *ngIf="twitter.errors?.pattern" class="invalid-feedback">
                              Twitter url is not valid.
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label class="col-sm-4 col-form-label">LinkedIn</label>
                        <div class="col-sm-8">
                          <input type="url" class="form-control mb-10" placeholder="Eg: www.linkedin.com/Tedpros" id="linkedin" name="linkedin" [(ngModel)]="cusData.social.linkedin" #linkedin="ngModel" [pattern]="linkedInPattern">
                            <div *ngIf="linkedin.errors?.pattern" class="invalid-feedback">
                                LinkedIn url is not valid.
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-6">
                        <label class="col-sm-4 col-form-label">Facebook</label>
                        <div class="col-sm-8">
                          <input type="url" class="form-control mb-10" placeholder="Eg: www.facebook.com/Tedpros" id="facebook" name="facebook" [(ngModel)]="cusData.social.facebook" #facebook="ngModel" [pattern]="facebookPattern">
                            <div *ngIf="facebook.errors?.pattern" class="invalid-feedback">
                                Facebook url is not valid.
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
            <div class="padding-20">
              <div class="row">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-success mlr-5" [disabled]="!addComFrm.valid"
                    (click)="checkContact(addComFrm)" id="submit">Submit</button>
                  <button type="reset" class="btn btn-info mlr-5" id="reset">Reset</button>
                  <button (click)="cancel()" class="btn btn-danger mlr-5" id="cancel">Cancel</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="popupbox_wrap" *ngIf="isShowPopup">
  <div class="popupbox" *ngIf="this.message">
    <button class="close" type="button" (click)="closePopup()"><span class="close-label"><i class="fa fa-times" id="closePopup"
          aria-hidden="true"></i> Close</span><span class="os-icon os-icon-close"></span></button>
    <br>

    <h5 class="text-center" style="color:#4cae4c;font-weight: bold;text-transform: capitalize">Client Company added
      successfully </h5>

    <!-- {{this.message|json}} -->

    <br>
    <div class="row text-center">
      <button class="btn btn-primary" id="closePop" (click)="closePopup()"><i class="fa fa-user-plus" aria-hidden="true"></i> Add
        another Contact</button>&nbsp;&nbsp;
      <a class="btn btn-success" id="companycontactslink" routerLink="/company-contacts"><i class="fa fa-users" aria-hidden="true"></i> View
        all</a>
    </div>
  </div>
  <div class="popupbox" *ngIf="this.error">
    <button class="close" type="button"  id="close" (click)="closePopup()"><span class="close-label"><i class="fa fa-times"
          aria-hidden="true"></i> Close</span><span class="os-icon os-icon-close"></span></button>
    <br>

    <h5 class="text-center" style="color:red;font-weight:bold;text-transform: capitalize">{{error }} </h5>


  </div>
</div>


<div class="popupbox_wrap" *ngIf="companypopup">
  <div class="popupbox">
    <button class="close" type="button" id="closebtn" (click)="closecompPopup()"><span class="close-label"><i class="fa fa-times" aria-hidden="true"></i> Close</span><span class="os-icon os-icon-close"></span></button>
    <div class="padding-20">
      <table class="table table-bordered">
        <tr>
          <td>
            <label class="col-sm-5 col-form-label">Client Company <span class="req-field">*</span></label>
            <div class="col-sm-7">
              <input type="text" class="form-control mb-10" placeholder="Enter Company Name" name="companyName"
                [(ngModel)]="compdata.companyName" #companyName="ngModel" required id="popupcompany" [pattern]="companyNamePattern" appTitleCase>
              <div *ngIf="companyName.touched && companyName.invalid" class="invalid-feedback">
                <div *ngIf="companyName.touched && companyName.errors.required">Company Name is required</div>
              </div>
              <div *ngIf="companyName.errors?.pattern" class="invalid-feedback">
                Please enter valid Company Name
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label class="col-sm-5 col-form-label">Primary Phone <span class="req-field">*</span></label>
            <div class="col-sm-7">
              <input type="text" class="form-control mb-10" placeholder="+XXX-XXXXXXXXXX"
                pattern="([+]?\d{1,3}[-])?\d{10}" name="primaryPhone" [(ngModel)]="compdata.phoneNo"
                #primaryPhone="ngModel" required id="popupprimaryPhone">
              <div *ngIf="primaryPhone.touched && primaryPhone.invalid" class="invalid-feedback">
                <div *ngIf="primaryPhone.errors.required">Primary Phone is required</div>
              </div>
              <div *ngIf="primaryPhone.errors?.pattern" class="invalid-feedback">
                Mobile number not valid.
              </div>
            </div>

          </td>

        </tr>
        <tr>
          <td>
            <label class="col-sm-5 col-form-label">Country <span class="req-field">*</span></label>
            <div class="col-sm-7">
              <select class="form-control mb-10" name="countryId" #countryid [(ngModel)]="compdata.countryId"
                #countryId="ngModel" (change)="change(countryid.value)" required id="popupcountryid">
                <option [ngValue]="undefined" disabled selected>Choose a country</option>
                <option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</option>
              </select>
              <div *ngIf="countryId.touched && countryId.invalid" class="invalid-feedback">
                <div *ngIf="countryId.errors.required">Select any one country</div>
              </div>
            </div>

          </td>


        </tr>

        <tr>
          <td>
            <label class="col-sm-5 col-form-label">Email <span class="req-field">*</span></label>
            <div class="col-sm-7">
              <input type="email" class="form-control mb-10" placeholder="Enter email" name="emailId" [(ngModel)]="compdata.emailId" #emailId="ngModel" required id="popupemailId" pattern="\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})">
              <div *ngIf="emailId.touched && emailId.invalid" class="invalid-feedback">
                <div *ngIf="emailId.errors.required">Primary Email is required</div>
              </div>
              <div *ngIf="emailId.errors?.pattern" class="invalid-feedback">
                Email Address is not valid.
              </div>
            </div>
          </td>
        </tr>
        <div class="row text-center">
          <button type="button" class="btn btn-success" id="addpopup"
            (click)="addcompany(emailId.value,countryid.value,primaryPhone.value,companyName.value)"> Submit</button>
        </div>
      </table>
    </div>
    <p *ngIf="contactError" style="color:red;font-weight:bold">{{ contactError }}</p>
  </div>
</div>
<!-- end company popup -->


<div class="loader_wrap" *ngIf="loading">
  <div class="loader_inner_wrap"><img src="../../../../assets/images/loginloader.gif" alt=""></div>
</div>
<!-- {{this.cusData|json}} -->
