<div class="content">
  <div class="top-header">
    <div class="row">
      <div class="col-md-6 col-lg-6 heading">
        <h4>Add Membership</h4>
      </div>
      <div class="col-md-6 col-lg-6 breadcrumb">
        <ul class="breadcrumb-items"> 
          <li><a routerLink='/dashboard'>Home</a></li>
          <li>/&nbsp;</li>
          <li><a routerLink="/memberships" >Memberships</a></li>
          <li>/&nbsp;</li>
          <li>Add Membership</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="element-content">
    <div class="job-box">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <form class="search-form" #addMemFrm = "ngForm" name="form" (ngSubmit)="addMemFrm.form.valid" novalidate>
            <div class="form-header">
              <h5>Add Membership</h5>
            </div>
            <div class="padding-20">
                <div class="form-group row">
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label">Membership Name <span class="req-field">*</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control mb-10" placeholder="Enter Here" name="memName" [(ngModel)]="memData.memName" #memName="ngModel" [ngClass]="{ 'is-invalid': addMemFrm.submitted && memName.invalid }" required pattern="^(?!.*[.&*_]{2})([a-zA-Z0-9.&*_]+\s)*[a-zA-Z0-9.&*_]+$"
                      id="memName">
                      <div *ngIf="memName.touched && memName.invalid" class="invalid-feedback">
                        <div *ngIf="memName.touched && memName.errors.required">Membership Name is required</div>
                      </div>
                      <div *ngIf="memName.errors?.pattern" class="invalid-feedback">
                        Enter a valid Name
                      </div>
                    </div>
                  </div>
              </div>
              <div class="form-group row">
                  <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary mlr-5" [disabled]="!addMemFrm.valid" (click)="addMem(addMemFrm)" id="submit">Submit</button>
                      <button type="reset" class="btn btn-info mlr-5" id="reset">Reset</button>
                      <button class="btn btn-danger mlr-5" (click)="cancel()" id="cancel">Cancel</button>
                  </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="popupbox_wrap" *ngIf="isSuccess">
  <div class="popupbox">
    <div class="row"><button class="close" id="close" type="button" (click)="close()"><span class="close-label"><i class="fa fa-times"
            aria-hidden="true"></i> Close</span><span class="os-icon os-icon-close"></span></button></div>
    <p class="bg-success">{{ mem.data }}</p>
    <div class="row text-center">
      <a class="btn btn-success mlr-5" id="popmemberships" routerLink="/memberships"><i class="fa fa-users" aria-hidden="true"></i> View all Memberships</a>
      <!-- <a class="btn btn-success mlr-5" id="closepop" (click)="close()"><i class="fa fa-users" aria-hidden="true"></i> Close</a> -->
    </div>
    <!--row-->
  </div>
  <!--popupbox-->
</div>
<!--popupbox_wrap-->
  
  
<div class="popupbox_wrap" *ngIf="isFailure">
  <div class="popupbox">
    <div class="row"><button class="close" id="closePopup" type="button" (click)="closePopup()"><span class="close-label"><i class="fa fa-times"
            aria-hidden="true"></i> Close</span><span class="os-icon os-icon-close"></span></button></div>
    <p class="bg-success">{{ mem.errorMessages }}</p>
    <!-- <div class="row text-center">
      <a class="btn btn-success" id="closebtn" (click)="closePopup()"><i class="fa fa-users" aria-hidden="true"></i> Close</a>
    </div> -->
    <!--row-->
  </div>
  <!--popupbox-->
</div>
<!--popupbox_wrap-->