<div class="content">
	<div class="top-header">
		<div class="row">
			<div class="col-md-6 col-lg-6 heading">
				<h4> Office Documents List <a class="btn btn-primary" id="addholidays" routerLink="/office-documents/add-office-document">+ Add</a></h4>
			</div>
			<div class="col-md-6 col-lg-6 breadcrumb">
				<ul class="breadcrumb-items">
					<li><a routerLink='/dashboard'>Home</a>
					</li>
					<li>&nbsp;/</li>
					<li>Office Documents List</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="element-content">
		<div class="job-box">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="table-responsive">
						<table class="table table-bordered" [mfData]="filterData" #mf="mfDataTable" [mfRowsOnPage]="5">
							<thead class="form-header">
								<tr>
									<th style="width: 4%; text-align: center;"></th>
									<th style="width: 4%; text-align: center;"></th>
									<th>Document Type</th>
									<th>Document Title</th>
									<th>Document</th>
								</tr>
							</thead>
							<tbody *ngIf="!filterData">
								<tr>
									<td colspan="7">No Records Found</td>
								</tr>
							</tbody>
							<tbody *ngIf="filterData">
								<tr>
									<th style="width: 3%; text-align: center;"></th>
									<th style="width: 3%; text-align: center;"></th>
									<th>
										<input type="text" placeholder="Search File Type" (keyup)="search($event.target.value,'name')" class="search-filter form-control" id="Searchfiletype">
									</th>
									<th>
										<input type="text" placeholder="Search File Title" (keyup)="search($event.target.value,'title')" class="search-filter form-control" id="SearchDate">
									</th>
									<th>
										<input type="text" placeholder="Search Document" (keyup)="search($event.target.value,'document')" class="search-filter form-control" id="FullDay">
									</th>
								</tr>
								<ng-container *ngIf="availableRecords; else noData">
									<tr *ngFor="let doc of mf.data, index as i">
										<td style="text-align: center;">{{i+1}}</td>
										<td style="text-align: center;" id="editholidayslist">
											<div class="activity-main-menu">
												<ul class="menu-items">
													<li class="activity-sub-menu">
														<a>
															<div class="icon-w"> <i class="fa fa-bars" aria-hidden="true"></i>
															</div>
														</a>
														<div class="sub-menu-list">
															<div class="sub-menu-i">
																<ul class="sub-menu">
																	<li>
																		<a class="mlr-5" title="View Details">
																			<button type="button" class="tabledit-delete-button btn btn-success" (click)="details(doc.id)" id="showDetails"> <i class="fa fa-eye" aria-hidden="true"></i>
																			</button>
																		</a>
																	</li>
																	<li>
																		<a class="mlr-5" title="Delete Document">
																			<button (click)="deletePage(doc.id)" id="deleteDetails" class="tabledit-delete-button btn btn-danger"> <i class="fa fa-trash-o" aria-hidden="true"></i>
																			</button>
																		</a>
																	</li>
																</ul>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</td>
										<td>{{doc.doc_type_id.name}}</td>
										<td>{{doc.title }}</td>
										<td><a href="{{i9URL}}{{doc.document}}" id="doc" target="_blank">{{doc.document}}</a>
										</td>
									</tr>
								</ng-container>
								<ng-template #noData>
									<tr>
										<td colspan="12" class="text-danger" style="text-align: center;">No Records Found</td>
									</tr>
								</ng-template>
							</tbody>
							<tfoot *ngIf="filterData">
								<tr>
									<td colspan="7">
										<mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="popupbox_wrap" *ngIf="isShowPopup">
	<div class="popupbox">
		<div class="show_user_details">
			<table class="table table-bordered">
				<tr>
					<td><strong>Titletype</strong>: <span>{{singledocument.doc_type_id.name | titlecase}}</span>
					</td>
				</tr>
				<tr>
					<td><strong>Title</strong>: <span>{{singledocument.title |  titlecase}}</span>
					</td>
				</tr>
				<tr>
					<td><strong>Document</strong>: <span>{{singledocument.document | titlecase}}</span>
					</td>
				</tr>
			</table>
			<div class="row text-center"><a (click)="closePopup()" id="closePopup" class="btn btn-danger"><em class="fa fa-times"></em> Close</a>
			</div>
		</div>
		<!--show_user_details-->
	</div>
	<!--popupbox-->
</div>
<!--popupbox_wrap-->
<div class="popupbox_wrap" *ngIf="isShow">
	<div class="popupbox">
		<div class="show_user_details">
			<h6>Are you sure want to delete this file?</h6>
			<div class="form-group row">
				<div class="col-sm-10">
					<button class="btn btn-primary mlr-5" id="singlework" (click)="delete(this.docId)">Yes</button>
					<button class="btn btn-danger mlr-5" id="cancelsinglework" (click)="cancel()">Cancel</button>
				</div>
			</div>
		</div>
		<!--show_user_details-->
	</div>
	<!--popupbox-->
</div>
<!--popupbox_wrap-->