<div class="content">
  <div class="top-header">
    <div class="row">
      <div class="col-md-6 col-lg-6 heading">
        <h4><span *ngIf="logo">
            <img src="{{logo}}" alt="{{comInfo.companyName}}" style="max-width: 50px; height:auto">
          </span>{{comInfo.companyName | uppercase}}</h4>
      </div>
      <div class="col-md-6 col-lg-6 breadcrumb">
        <ul class="breadcrumb-items">
          <li><a routerLink='/dashboard'>Home</a></li>
          <li>/&nbsp;</li>
          <li><a routerLink='/customers'>Client Companies</a></li>
          <li>/&nbsp;</li>
          <li>View Client Company</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="element-content">
    <div class="job-box">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <div class="form-header">
            <h5>Essentials</h5>
          </div>
          <div class="padding-20">
            <div class="form-group row">
              <div class="col-md-6">
                <label class="col-sm-4 col-form-label">Company Code:</label>
                <div class="col-sm-8">
                  <p>{{ this.comInfo.companyId }}</p>
                </div>
              </div>
              <div class="col-md-6">
                <label class="col-sm-4 col-form-label">Company Name:</label>
                <div class="col-sm-8">
                  <p>{{ this.comInfo.companyName }}</p>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <label class="col-sm-4 col-form-label">Industry:</label>
                <div class="col-sm-8">
                  <p>{{ this.industry }}</p>
                </div>
              </div>
              <div class="col-md-6">
                <label class="col-sm-4 col-form-label">Primary Phone:</label>
                <div class="col-sm-8">
                  <p>{{ this.comInfo.primaryPhone }}</p>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <label class="col-sm-4 col-form-label">Country:</label>
                <div class="col-sm-8">
                  <p>{{ this.comInfo.country.name }}</p>
                </div>
              </div>
              <div class="col-md-6">
                <label class="col-sm-4 col-form-label">Email:</label>
                <div class="col-sm-8">
                  <p>{{ this.comInfo.emailId }}</p>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <label class="col-sm-4 col-form-label">Account Owner:</label>
                <div class="col-sm-8">
                  <p>{{ this.comInfo.owner.name }}</p>
                </div>
              </div>
            </div>
          </div>

          <ngb-tabset type="pills">
            <ngb-tab title="Details">
              <ng-template ngbTabContent>
                <div class="padding-20">
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label class="col-sm-4 col-form-label">DUNS#:</label>
                      <div class="col-sm-8">
                        <p>{{ this.comInfo.dunNo }}</p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label class="col-sm-4 col-form-label">FIN#:</label>
                      <div class="col-sm-8">
                        <p>{{ this.comInfo.finNo }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label class="col-sm-4 col-form-label">Billing Contact:</label>
                      <div class="col-sm-8">
                        <p>{{ this.comInfo.billingContact }}</p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label class="col-sm-4 col-form-label">Phone Number:</label>
                      <div class="col-sm-8">
                        <p>{{ this.comInfo.phoneNumber }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label class="col-sm-4 col-form-label">Status:</label>
                      <div class="col-sm-8">
                        <p *ngIf="this.comInfo.status == 1">Active</p>
                        <p *ngIf="this.comInfo.status == 0">Inactive</p>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <label class="col-sm-2 col-form-label">Description:</label>
                      <div class="col-sm-10">
                        <!-- {{ this.comInfo|json}} -->
                        <p>{{ this.comInfo.description }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Address">
              <ng-template ngbTabContent>
                <div class="padding-20">
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label class="col-sm-4 col-form-label">Address 1:</label>
                      <div class="col-sm-8">
                        <p>{{ this.comInfo.address.addressLine1 }}</p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label class="col-sm-4 col-form-label">Address 2/Suite:</label>
                      <div class="col-sm-8">
                        <p>{{ this.comInfo.address.addressLine2 }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label class="col-sm-4 col-form-label">State:</label>
                      <div class="col-sm-8">
                        <p>{{ this.state }}</p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label class="col-sm-4 col-form-label">City:</label>
                      <div class="col-sm-8">
                        <p>{{ this.city }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label class="col-sm-4 col-form-label">Zip Code:</label>
                      <div class="col-sm-8">
                        <p>{{ this.comInfo.address.zipCode }}</p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label class="col-sm-4 col-form-label">Secondary Phone:</label>
                      <div class="col-sm-8">
                        <p>{{ this.comInfo.address.secondaryPhone }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label class="col-sm-4 col-form-label">Website:</label>
                      <div class="col-sm-8">
                        <p>{{ this.comInfo.address.webSite }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Specialization">
              <ng-template ngbTabContent>
                <div class="padding-20">
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label class="col-sm-4 col-form-label">Partners/ Certification:</label>
                      <div class="col-sm-8">
                        <p>{{ this.comInfo.specialisation.certification }}</p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label class="col-sm-4 col-form-label">Awards:</label>
                      <div class="col-sm-8">
                        <p>{{ this.comInfo.specialisation.awards }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label class="col-sm-4 col-form-label">Company Rating:</label>
                      <div class="col-sm-8">
                        <p>{{ this.comInfo.specialisation.rating }}</p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label class="col-sm-4 col-form-label">Specialization:</label>
                      <div class="col-sm-8">
                        <p>{{ this.comInfo.specialisation.specialisation }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Social">
              <ng-template ngbTabContent>
                <div class="padding-20">
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label class="col-sm-4 col-form-label">Twitter:</label>
                      <div class="col-sm-8">
                        <p>{{ this.comInfo.social.twitter }}</p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label class="col-sm-4 col-form-label">LinkedIn:</label>
                      <div class="col-sm-8">
                        <p>{{ this.comInfo.social.linkedin }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label class="col-sm-4 col-form-label">Facebook:</label>
                      <div class="col-sm-8">
                        <p>{{ this.comInfo.social.facebook }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Branches">
              <ng-template ngbTabContent>
                <table class="table table-bordered" style="width:100%;" [mfData]="branch" #mf="mfDataTable"
                  [mfRowsOnPage]="5">
                  <thead class="form-header">
                    <tr>
                      <th style="width: 3%; text-align: center;"></th>
                      <th style="width: 3%; text-align: center;"></th>
                      <th style="width: 16%;">
                        <mfDefaultSorter by="companyName"><span style="color: #fff;">Branch Name</span>
                        </mfDefaultSorter>
                      </th>
                      <th style="width: 16%;">
                        <mfDefaultSorter by="owner"><span style="color: #fff;">Branch Account Owner</span>
                        </mfDefaultSorter>
                      </th>
                      <th style="width: 16%;">
                        <mfDefaultSorter by="billingContact"><span style="color: #fff;">Billing Contact</span>
                        </mfDefaultSorter>
                      </th>
                      <th style="width: 16%;">
                        <mfDefaultSorter by="phoneNumber"><span style="color: #fff;">Billing Contact
                            Phone</span>
                        </mfDefaultSorter>
                      </th>
                      <th style="width: 16%;">
                        <mfDefaultSorter by="cityId"><span style="color: #fff;">City</span></mfDefaultSorter>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngIf="branchCount; else noData">
                      <tr *ngFor="let branch of mf.data, index as j">
                        <td style="text-align: center;" id="menutab">{{j+1}}</td>
                        <td style="text-align: center;">
                          <div class="activity-main-menu">
                            <ul class="menu-items">
                              <li class="activity-sub-menu">
                                <a>
                                  <div class="icon-w">
                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                  </div>
                                </a>
                                <div class="sub-menu-list">
                                  <div class="sub-menu-i">
                                    <ul class="sub-menu">
                                      <li *ngIf="userPermissions.updateClientCompany">
                                        <a class="mlr-5" id="editcustomer"
                                          [routerLink]="['/client-branch/edit-branch', branch.companyId]">
                                          <button type="button" class="tabledit-edit-button btn btn-danger"
                                            title="Edit">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                          </button>
                                        </a>
                                      </li>
                                      <li *ngIf="userPermissions.readClientCompany">
                                        <a class="mlr-5" id="viewcustomer"
                                          [routerLink]="['/client-branch/view-branch', branch.companyId]">
                                          <button type="button" class="tabledit-delete-button btn btn-success"
                                            title="View">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                          </button>
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </td>
                        <td><a id="clickviewcustomer"
                            [routerLink]="['/client-branch/view-branch', branch.companyId]">{{ branch.companyName | uppercase }}</a>
                        </td>
                        <td><a id="clickusersView"
                            [routerLink]="['/usersView/view-user-profile', branch.owner.id]">{{ branch.owner.name | uppercase }}</a>
                        </td>
                        <td>{{ branch.billingContact | uppercase }}</td>
                        <td>{{ branch.phoneNumber | uppercase }}</td>
                        <td>{{ branch.city.name | uppercase }}</td>
                      </tr>

                    </ng-container>
                    <ng-template #noData>
                      <tr>
                        <td colspan="12" class="text-danger" style="text-align: center;">
                          No Records Found
                        </td>
                      </tr>
                    </ng-template>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="12">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </ng-template>

            </ngb-tab>
            <!-- <span *ngIf="branchCount">
              <ng-container *ngFor="let sBranch of branch">
                <ngb-tab title="{{sBranch.companyName}}">
                  <ng-template ngbTabContent>
                    <div class="padding-20">
                      <div class="form-group row">
                        <div class="col-md-6">
                          <label class="col-sm-4 col-form-label">Country:</label>
                          <div class="col-sm-8">
                            <p>{{ sBranch.country.name }}</p>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label class="col-sm-4 col-form-label">State:</label>
                          <div class="col-sm-8">
                            <p>{{ sBranch.state.name }}</p>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-6">
                          <label class="col-sm-4 col-form-label">City:</label>
                          <div class="col-sm-8">
                            <p>{{ sBranch.city.name }}</p>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label class="col-sm-4 col-form-label">Account Owner:</label>
                          <div class="col-sm-8">
                            <p>{{ sBranch.owner.name }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-tab>
              </ng-container>
            </span> -->
          </ngb-tabset>

          <div class="form-header">
            <h5>Delivery Personals</h5>
          </div>
          <div class="padding-20">
            <div class="table-responsive col-md-12">
              <table class="table table-bordered">
                <thead class="form-header">
                  <tr>
                    <th style="width: 20%;">Employee Name</th>
                    <th style="width: 100%;">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let person of persons" style="margin-bottom: 10px;">
                    <td>
                      <p>{{ person.name }}</p>
                    </td>
                    <td>
                      <p>{{ person.description }}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="padding-20">
            <div class="row">
              <div class="col-sm-10">
                <button class="btn btn-info mlr-5" (click)="cancel()">Back</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>