<div class="container-fluid full-screen">
  <app-top-menu></app-top-menu>
  <div class="row">
      <div class="main-content" style="width: 100%;">
          <div class="">
                <div style="width: calc(100% - 50px); float: left;">
                <router-outlet></router-outlet>
                </div>
                <div class="menu-layout" *ngIf="currentUser.userType.name === 'employee'" style="width: 50px; float: left;">
                    <app-sidebar *ngIf="currentUser.userType.name === 'employee'"></app-sidebar>
                </div>
          </div>
      </div>
  </div>
</div>