<div class="content">
  <div class="top-header">
    <div class="row">
      <div class="col-md-6 col-lg-6 heading">
        <h4>Client Company Contacts <a *ngIf="userPermissions.createClientContacts" id="addcontact" class="btn btn-primary"
            routerLink="/company-contacts/add-company-contact">+
            Add</a></h4>
      </div>
      <div class="col-md-6 col-lg-6 breadcrumb">
        <ul class="breadcrumb-items">
          <li><a routerLink='/dashboard'>Home</a></li>
          <li>/</li>
          <li>Client Company Contact</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="element-content">
    <div class="job-box">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <div class="table-responsive">
            <table class="table table-bordered" [mfData]="filterData" #mf="mfDataTable" [mfRowsOnPage]="10">
              <thead class="form-header">
                <tr>
                  <th style="width: 3%; text-align: center;"></th>
                  <th style="width: 3%; text-align: center;"></th>
                  <th style="width: 16%;">
                    <mfDefaultSorter by="companyName"><span style="color: #fff;">Client Name</span></mfDefaultSorter>
                  </th>
                  <th style="width: 16%;">
                    <mfDefaultSorter by="firstName"><span style="color: #fff;">Name</span></mfDefaultSorter>
                  </th>
                  <th style="width: 16%;">
                    <mfDefaultSorter by="emailId"><span style="color: #fff;">Email</span></mfDefaultSorter>
                  </th>
                  <th style="width: 16%;">
                    <mfDefaultSorter by="phoneNo"><span style="color: #fff;">Phone</span></mfDefaultSorter>
                  </th>
                  <th style="width: 16%;">
                    <mfDefaultSorter by="cityName"><span style="color: #fff;">City</span></mfDefaultSorter>
                  </th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <th colspan="2"></th>
                  <th>
                    <input type="text" placeholder="Search company" (keyup)='searchcom($event.target.value)'
                      class="search-filter form-control" id="searchcompany">
                  </th>
                  <th>
                    <input type="text" placeholder="Search name" (keyup)='searchname($event.target.value)'
                      class="search-filter form-control" id="searchname">
                  </th>
                  <th>
                    <input type="text" placeholder="Search email" (keyup)='searchemail($event.target.value)'
                      class="search-filter form-control" id="searchemail">
                  </th>
                  <th>
                    <input type="text" placeholder="Search phone no." (keyup)='searchphone($event.target.value)'
                      class="search-filter form-control" id="searchphone">
                  </th>
                  <th>
                    <input type="text" placeholder="Search city" (keyup)='searchcity($event.target.value)'
                      class="search-filter form-control" id="searchcity">
                  </th>
                </tr>
                <ng-container *ngIf="availableRecords; else noData">
                <tr *ngFor="let customer of mf.data, index as i">
                  <td style="text-align: center;" id="menutab">{{ i+1 }}</td>
                  <td style="text-align: center;">
                    <div class="activity-main-menu">
                      <ul class="menu-items">
                        <li class="activity-sub-menu">
                          <a>
                            <div class="icon-w">
                              <i class="fa fa-bars" aria-hidden="true"></i>
                            </div>
                          </a>
                          <div class="sub-menu-list">
                            <div class="sub-menu-i">
                              <ul class="sub-menu">
                                <li *ngIf="userPermissions.updateClientContacts">
                                  <a class="mlr-5" id="editcontact" [routerLink]="['/company-contacts/edit-company-contact', customer.contactId]">
                                    <button type="button" class="tabledit-edit-button btn btn-danger" title="Edit">
                                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>
                                  </a>
                                </li>
                                <li *ngIf="userPermissions.readClientContacts">
                                  <a class="mlr-5" [routerLink]="['/company-contacts/view-company-contact', customer.contactId]" id="viewcontact">
                                    <button type="button" class="tabledit-delete-button btn btn-success" title="View">
                                      <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </td>
                  <td>
                    <a class="mlr-5" id="linkviewcustomer" [routerLink]="['/customers/view-customer', customer.companyId]">
                      {{ customer.companyName |titlecase }}
                    </a>

                  </td>
                  <td> <a class="mlr-5" id="linkviewcontact"[routerLink]="['/company-contacts/view-company-contact', customer.contactId]">
                      {{ customer.firstName | titlecase }}
                    </a>
                  </td>
                  <td>{{ customer.emailId }}</td>
                  <td>{{ customer.phoneNo | uppercase }}</td>
                  <td>{{ customer.cityName | titlecase }}</td>
                </tr>
              </ng-container>
              <ng-template #noData> 
                <tr>
                  <td colspan="12" class="text-danger" style="text-align: center;">
                    No Records Found 
                  </td>
                </tr>
              </ng-template>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="12">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
