<div class="content">
    <div class="top-header">
      <div class="row">
        <div class="col-md-6 col-lg-6 heading">
          <h4>Profile Info of {{personalInfo.firstName | titlecase}} {{personalInfo.lastName | titlecase}} ({{personalInfo.userId}})</h4>
        </div>
        <div class="col-md-6 col-lg-6 breadcrumb">
          <ul class="breadcrumb-items">
            <li><a routerLink='/dashboard'>Home</a></li>
            <li>&nbsp;/&nbsp;</li>
            <li><a routerLink='/usersView'>Users List</a></li>
            <li>&nbsp;/&nbsp;</li>
            <li>Personal Info</li>
          </ul>
        </div>
      </div>
    </div>
  
    <div id="contentToConvert">
      <div class="element-content">
        <div class="job-box">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
              <div class="form-header">
                <h5>Personal Information</h5>
              </div>
              <div class="padding-20">
                <div class="form-group row">
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label mb-10">First Name:</label>
                    <div class="col-sm-8">
                      <p class="mb-10">{{ personalInfo.firstName | titlecase }}</p>
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="personalInfo.middleName">
                    <label class="col-sm-4 col-form-label mb-10">Middle Name:</label>
                    <div class="col-sm-8">
                      <p>{{  personalInfo.middleName | titlecase }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label mb-10">Last Name:</label>
                    <div class="col-sm-8">
                      <p>{{  personalInfo.lastName | titlecase }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label mb-10">Email Address:</label>
                    <div class="col-sm-8">
                      <p>{{  personalInfo.email }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label mb-10">Contact:</label>
                    <div class="col-sm-8">
                      <p>{{  personalInfo.contact }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label mb-10">Driver's License Numbe:</label>
                    <div class="col-sm-8">
                      <p>{{  personalInfo.driverLicenseNo }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label mb-10">License Expiry Date:</label>
                    <div class="col-sm-8">
                      <p *ngIf="personalInfo.licenseExpDate === '0000-00-00'"></p>
                      <p *ngIf="personalInfo.licenseExpDate != '0000-00-00'">
                        {{personalInfo.licenseExpDate | date: 'MM-dd-yyyy'}}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label mb-10">Blood Group:</label>
                    <div class="col-sm-8">
                      <p>{{  personalInfo.bloodGroup }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label mb-10">Marital Status:</label>
                    <div class="col-sm-8">
                      <p>{{  personalInfo.maritalStatus | titlecase }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label mb-10">Gender:</label>
                    <div class="col-sm-8">
                      <p>{{  personalInfo.gender | titlecase }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label mb-10">Nationality:</label>
                    <div class="col-sm-8">
                      <p>{{  personalInfo.nationality.name }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label mb-10">Date of Birth:</label>
                    <div class="col-sm-8">
                      <p *ngIf="userFieldPermissions.readdob && personalInfo.dob">{{ personalInfo.dob }}</p>
                      <p *ngIf="userFieldPermissions.readdob && !personalInfo.dob"></p>
                      <p *ngIf="!userFieldPermissions.readdob">xxxx-xx-xx</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label mb-10">Social Security Number:</label>
                    <div class="col-sm-8">
                      <p *ngIf="userFieldPermissions.readssn && personalInfo.ssn">{{ personalInfo.ssn }}</p>
                      <p *ngIf="userFieldPermissions.readssn && !personalInfo.ssn"></p>
                      <p *ngIf="!userFieldPermissions.readssn">xxxxxx</p>
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="personalInfo.linkedin">
                    <label class="col-sm-4 col-form-label mb-10">LinkedIn:</label>
                    <div class="col-sm-8">
                      <p>{{personalInfo.linkedin}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="element-content" *ngIf="contactinfo">
        <div class="job-box">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
              <div class="form-header">
                <h5>Contact Details</h5>
              </div>
              <div class="padding-20">
                <div class="form-group row">
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label mb-10">Address Line 1:</label>
                    <div class="col-sm-8">
                      <p>{{  contactinfo.addressLine1 }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label mb-10">Address Line 2:</label>
                    <div class="col-sm-8">
                      <p>{{  contactinfo.addressLine2 }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label mb-10">Street:</label>
                    <div class="col-sm-8">
                      <p>{{  contactinfo.street }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label mb-10">City:</label>
                    <div class="col-sm-8">
                      <p>{{  contactinfo.city.name }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label mb-10">State/Province:</label>
                    <div class="col-sm-8">
                      <p>{{  contactinfo.state.name }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label mb-10">Zip/Postal Code:</label>
                    <div class="col-sm-8">
                      <p>{{  contactinfo.zip }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label mb-10">Country:</label>
                    <div class="col-sm-8">
                      <p>{{  contactinfo.country.name }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label mb-10">Home Telephone:</label>
                    <div class="col-sm-8">
                      <p>{{  contactinfo.homeTelephone }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label mb-10">Work Telephone:</label>
                    <div class="col-sm-8">
                      <p>{{  contactinfo.workTelephone }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label mb-10">Other Email Address:</label>
                    <div class="col-sm-8">
                      <p>{{  contactinfo.otherEmail }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="element-content" *ngIf="professionalInfo && userPermissions.readJobDetails">
        <div class="job-box">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
              <div class="form-header">
                <h5>Professional Details</h5>
              </div>
              <div class="padding-20">
                <div class="form-group row">
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label">Job Category:</label>
                    <div class="col-sm-8">
                      <p>{{  professionalInfo.jobCategory.name | titlecase }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label">Job Title:</label>
                    <div class="col-sm-8">
                      <p>{{ professionalInfo.jobTitle.name | titlecase }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label">Job Specification:</label>
                    <div class="col-sm-8">
                      <p>{{ professionalInfo.jobSpecification | titlecase }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label">Job Joining Date:</label>
                    <div class="col-sm-8">
                      <p>{{  professionalInfo.joiningDate | date: 'MM-dd-yyyy' }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label">Job Location:</label>
                    <div class="col-sm-8">
                      <p>{{  professionalInfo.jobLocation.name | titlecase }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label">Start Date:</label>
                    <div class="col-sm-8">
                      <p>{{  professionalInfo.startDate | date: 'MM-dd-yyyy' }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label">End Date:</label>
                    <div class="col-sm-8">
                      <p>{{  professionalInfo.endDate | date: 'MM-dd-yyyy' }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="element-content" *ngIf="salaryInfo && userPermissions.readSalaryComponent">
        <div class="job-box">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
              <div class="form-header">
                <h5>Salary Details</h5>
              </div>
              <div class="padding-20">
                <div class="form-group row">
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label">Total Salary:</label>
                    <div class="col-sm-8">
                      <p>{{ salaryInfo.amount }} per {{ salaryInfo.payFrequency.name }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-4 col-form-label">Pay Grade:</label>
                    <div class="col-sm-8">
                      <p>{{ salaryInfo.payGrade }}</p>
                    </div>
                  </div><div class="col-md-12">
                      <h4 class="col-sm-4 col-form-label user-title">Direct Deposit #1:</h4>
                    </div>
                    <div class="col-md-6">
                      <label class="col-sm-4 col-form-label mb-10">Routing Number:</label>
                      <div class="col-sm-8">
                        <p>{{ salaryInfo.deposit1.routingNumber }}</p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label class="col-sm-4 col-form-label mb-10">Account Number:</label>
                      <div class="col-sm-8">
                        <p>{{ salaryInfo.deposit1.accountNumber }}</p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label class="col-sm-4 col-form-label mb-10">Account Type:</label>
                      <div class="col-sm-8">
                        <p>{{ salaryInfo.deposit1.accountType.name }}</p>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="additionalDeposit">
                      <label class="col-sm-4 col-form-label mb-10">Split Amount:</label>
                      <div class="col-sm-8">
                        <p>$ {{ salaryInfo.deposit1.directAmount }}</p>
                      </div>
                    </div>
    
                    <div *ngIf="additionalDeposit">
                      <!-- Additional account -->
                      <div class="col-md-12">
                        <h4 class="col-sm-4 col-form-label user-title">Direct Deposit #2:</h4>
                      </div>
                      <div class="col-md-6">
                        <label class="col-sm-4 col-form-label mb-10">Routing Number:</label>
                        <div class="col-sm-8">
                          <p>{{ salaryInfo.deposit2.routingNumber }}</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label class="col-sm-4 col-form-label mb-10">Account Number:</label>
                        <div class="col-sm-8">
                          <p>{{ salaryInfo.deposit2.accountNumber }}</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label class="col-sm-4 col-form-label mb-10">Account Type:</label>
                        <div class="col-sm-8">
                          <p>{{ salaryInfo.deposit2.accountType.name }}</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label class="col-sm-4 col-form-label mb-10">Split Amount:</label>
                        <div class="col-sm-8">
                          <p>$ {{ salaryInfo.deposit2.directAmount }}</p>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="element-content" *ngIf="(familyInfo && userPermissions.readUserDependents) || (familyInfo && isUser)">
        <div class="job-box">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
              <div class="form-header">
                <h5>Dependents Details</h5>
              </div>
              <div class="padding-20">
                <div class="form-group row">
                  <div class="table-responsive margin-20">
                    <table class="table table-bordered">
                      <thead class="form-header">
                        <tr>
                          <th>Name</th>
                          <th>Relation</th>
                          <th>Gender</th>
                          <th>Country</th>
                          <th>Identification #1</th>
                          <th>Identification #2</th>    
                          <th>Date of Birth</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let dependentinfo of familyInfo" style="margin-bottom: 10px;">
                          <td>{{dependentinfo.name | titlecase }}</td>
                          <td>{{dependentinfo.relationname}}</td>
                          <td>{{dependentinfo.gender| titlecase}}</td>
                          <td>{{dependentinfo.countryname| titlecase}}</td>
                          <td>{{dependentinfo.identity1}}</td>
                          <td>{{dependentinfo.identity2}}</td>
                          <td>{{dependentinfo.dob | date: 'MM-dd-yyyy'}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="element-content" *ngIf="(experienceInfo && userPermissions.readUserExperience) || (experienceInfo && isUser)">
        <div class="job-box">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
              <div class="form-header">
                <h5>Work Experience Details</h5>
              </div>
              <div class="padding-20">
                <div class="form-group row">
                  <div class="table-responsive margin-20">
                    <table class="table table-bordered">
                      <thead class="form-header">
                        <tr>
                          <th>Company</th>
                          <th>Job Title</th>
                          <th>From</th>
                          <th>To</th>
                          <th>Comments</th>
                          <th>Roles and Responsibilities</th>
                          <th>Technical Skills</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let experienceinfo of experienceInfo" style="margin-bottom: 10px;">
                          <td>{{experienceinfo.pastCompany | titlecase}}</td>
                          <td>{{experienceinfo.pastJobTitle | titlecase}}</td>
                          <td>
                            <span *ngIf="experienceinfo.fromDate == '0000-00-00'"></span>
                            <span
                              *ngIf="experienceinfo.fromDate != '0000-00-00'">{{experienceinfo.fromDate | date: 'MM-dd-yyyy'}}</span>
                          </td>
                          <td>
                            <span *ngIf="experienceinfo.toDate == '0000-00-00'"></span>
                            <span
                              *ngIf="experienceinfo.toDate != '0000-00-00'">{{experienceinfo.toDate | date: 'MM-dd-yyyy'}}</span>
                          </td>
                          <td>{{experienceinfo.comment}}</td>
                          <td>{{experienceinfo.responsibility}}</td>
                          <td>{{experienceinfo.skills}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="element-content" *ngIf="(educationInfo && userPermissions.readUserEducation) || (educationInfo && isUser)">
        <div class="job-box">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
              <div class="form-header">
                <h5>Education Details</h5>
              </div>
              <div class="padding-20">
                <div class="form-group row">
                  <div class="table-responsive margin-20">
                    <table class="table table-bordered">
                      <thead class="form-header">
                        <tr>
                          <th>Level</th>
                          <th>Institute</th>
                          <th>Year</th>
                          <th>GPA Score</th>
                          <th>Start Date</th>
                          <th>End Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let educationinfo of educationInfo" style="margin-bottom: 10px;">
                          <td>{{educationinfo.educationname | titlecase}}</td>
                          <td>{{educationinfo.institute | titlecase}}</td>
                          <td>{{educationinfo.year}}</td>
                          <td>{{educationinfo.gpaScore}}</td>
                          <td>{{educationinfo.startDate}}</td>
                          <td>{{educationinfo.endDate}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="element-content" *ngIf="(skillInfo && userPermissions.readUserSkill) || (skillInfo && isUser)">
        <div class="job-box">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
              <div class="form-header">
                <h5>Skills Details</h5>
              </div>
              <div class="padding-20">
                <div class="form-group row">
                  <div class="col-md-8">
                      <div class="table-responsive margin-20">
                        <table class="table table-bordered">
                          <thead class="form-header">
                            <tr>
                              <th>Skill Name</th>
                              <th>Experience</th>
                              <th>Comments</th>
                              <!-- <th>Is Primary</th> -->
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let skillInfo of skillInfo" style="margin-bottom: 10px;">
                              <td>{{skillInfo.name | titlecase}}</td>
                              <td>{{skillInfo.experience}}</td>
                              <td>{{skillInfo.comments}}</td>
                              <!-- <td>
                                <span *ngIf="skillInfo.isPrimary=='1'" class="badge badge-primary"> Yes </span>
                                <span *ngIf="skillInfo.isPrimary=='0'" class="badge badge-danger"> No </span>
                              </td> -->
                            </tr>
                          </tbody>
                        </table>
                      </div>
                  </div>
                  <div class="col-md-4" >
                    <ng-container *ngIf="skillInfo; else noData">
                      <h3>Pie Chart Showing Your Skills</h3>
                      <div>
                        <canvas
                            baseChart
                            [chartType]="'pie'"
                            [datasets]="pieChartData"
                            [labels]="pieChartLabels"
                            [options]="pieChartOptions"
                            [legend]="true"
                            [colors]="pieChartColor"
                            (chartClick)="onChartClick($event)">
                        </canvas>
                      </div>
                    </ng-container>
                    <ng-template #noData>
                    </ng-template>
                      
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="element-content" *ngIf="(languageInfo && userPermissions.readUserLanguage) || (languageInfo && isUser)">
        <div class="job-box">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
              <div class="form-header">
                <h5>Language Details</h5>
              </div>
              <div class="padding-20">
                <div class="form-group row">
                  <div class="table-responsive margin-20">
                    <table class="table table-bordered">
                      <thead class="form-header">
                        <tr>
                          <th>Language</th>
                          <th>Fluency</th>
                          <th>Comments</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let languageinfo of languageInfo" style="margin-bottom: 10px;">
                          <td>{{languageinfo.langname | titlecase}}</td>
                          <td>{{languageinfo.fluency | titlecase}}</td>
                          <td>{{languageinfo.langcomments}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="element-content" *ngIf="(licenseInfo && userPermissions.readUserLicense) || (licenseInfo && isUser)">
        <div class="job-box">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
              <div class="form-header">
                <h5>Licenses Details</h5>
              </div>
              <div class="padding-20">
                <div class="form-group row">
                  <div class="table-responsive margin-20">
                    <table class="table table-bordered">
                      <thead class="form-header">
                        <tr>
                          <th>Type</th>
                          <th>Name</th>
                          <th>License Number</th>
                          <th>Issued Date</th>
                          <th>Expiry Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let licenseinfo of licenseInfo" style="margin-bottom: 10px;">
                          <td>{{licenseinfo.type}}</td>
                          <td>{{licenseinfo.name | titlecase}}</td>
                          <td>{{licenseinfo.number}}</td>
                          <td>
                            <span *ngIf="licenseinfo.issued == '0000-00-00'"></span>
                            <span *ngIf="licenseinfo.issued != '0000-00-00'">{{licenseinfo.issued | date: 'MM-dd-yyyy'}}</span>
                          </td>
                          <td>
                            <span *ngIf="licenseinfo.expiry == '0000-00-00'"></span>
                            <span *ngIf="licenseinfo.expiry != '0000-00-00'">{{licenseinfo.expiry | date: 'MM-dd-yyyy'}}</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>   
    </div>
  
    <div class="element-content">
      <div class="job-box">
        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="row">
              <div class="col-sm-10">                  
                <button  class="btn btn-info mlr-5" id="cancel" (click)="cancel()">Back</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  