<div class="content">
  <div class="top-header">
    <div class="row">
      <div class="col-md-6 col-lg-6 heading">
        <h4>My Leave List</h4>
      </div>
      <div class="col-md-6 col-lg-6 breadcrumb">
        <ul class="breadcrumb-items">
          <li><a routerLink="/dashboard">Home</a></li>
          <em>&nbsp;/&nbsp;</em>
          <li>My Leave-List</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="element-content">
    <div class="job-box">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <div class="table-responsive">
            <table class="table table-bordered" [mfData]="filterData" #mf="mfDataTable" [mfRowsOnPage]="5">
              <thead class="form-header">
                <tr>
                  <th></th>
                  <th>Date</th>
                  <th>Leave Type </th>
                  <th>Leave Balance (Days) </th>
                  <th>Number of Days</th>
                  <th>Status</th>
                  <th>Comments</th>
                </tr>
              </thead>
              <tbody *ngIf="!filterData">
                <tr>
                  <td colspan="7">
                    No Records Found
                  </td>
                </tr>
              </tbody>
              <tbody>
                  <tr>
                      <th style="width: 3%; text-align: center;"></th>
                      <th>
                        <input type="text" placeholder="Search Date" (keyup)="search($event.target.value,'leaveApplication')" id="searchDate"
                          class="search-filter form-control">
                      </th>
                      <th>
                        <input type="text" placeholder="Search Leave Type" id="searchLeaveType"
                          (keyup)="search($event.target.value,'leave_type')" class="search-filter form-control">
                      </th>
                      <th>
                        <input type="number" placeholder="Search Balance Days" (keyup)="search($event.target.value,'leave_balance')" id="searchBalanceDays"
                          class="search-filter form-control">
                      </th>
                      <th>
                          <input type="number" placeholder="Search Total Days" (keyup)="search($event.target.value,'days')" id="searchtotalDays"
                            class="search-filter form-control">
                      </th>
                      <th>
                          <input type="text" placeholder="Search Status" (keyup)="search($event.target.value,'status')" id="searchStatus"
                            class="search-filter form-control">
                      </th>
                      <th>
                          <input type="text" placeholder="Search Comment" (keyup)="search($event.target.value,'comment')" id="searchComment"
                            class="search-filter form-control">
                      </th>
                    </tr>
                    <ng-container *ngIf="availableRecords; else noData">
                <tr *ngFor="let leaveList of mf.data; let i = index">

                  <td>
                    <p>{{ i+1 }}</p>
                  </td>
                  <td>{{leaveList.leaveApplication | uppercase}}</td>
                  <td>{{leaveList.leave_type | uppercase}}</td>
                  <td>{{leaveList.leave_balance}}</td>
                  <td>{{leaveList.days}}</td>
                  <td>{{leaveList.status | uppercase}}</td>
                  <td>{{leaveList.comment}}</td>
                </tr>
              </ng-container>
              <ng-template #noData> 
                <tr>
                  <td colspan="12" class="text-danger" style="text-align: center;">
                    No Records Found 
                  </td>
                </tr>
              </ng-template>
              </tbody>
              <tfoot>
                  <tr>
                    <td colspan="12">
                      <mfBootstrapPaginator [rowsOnPageSet]="[5,10]"></mfBootstrapPaginator>
                    </td>
                  </tr>
                </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
